.mainPageContainer {
    min-height: 100vh;
    min-width: 100vw;
    transition: 0.4s;
}

.homePageBackground {
    background: linear-gradient(135deg, hsl(240, 27%, 68%) 23%, hsl(240, 32%, 89%) 83%);

}

.aboutPageBackground {
    background: linear-gradient(135deg, hsla(353, 100%, 93%, 1) 26%, hsla(0, 0%, 100%, 1) 66%);
}

.teamPageBackground {
    background: linear-gradient(135deg, hsl(137, 20%, 65%) 23%, hsla(136, 19%, 74%, 1) 64%);
}

.reportPageBackground {
    background: linear-gradient(135deg, hsla(15, 60%, 79%, 1) 23%, hsla(16, 100%, 98%, 1) 83%);
}
