footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #864148;
    color: rgb(255, 255, 255);
    margin: 12rem 0 0 0;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0.7rem;
    font-size: 1.2rem;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.2rem;
}

footer a:hover {
    text-decoration: underline;
}

.footer-icon {
    padding-top: 0.3rem;
}
