.home-container {
    width: 80%;
    margin: 0 auto;
}

.home-banner-container {
    position: relative;
    display: flex;
    @apply pt-4 flex-row w-full mx-auto;
}

.home-image-section {
    @apply hidden lg:w-1/3 lg:block top-0 right-0 absolute -z-50;
}

.home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @apply mb-4 md:mb-40 w-4/12 md:pt-40;
}

.primary-heading {
    color: #100007;
    @apply w-8/12 text-6xl lg:text-5xl font-semibold;
    line-height: 3.4rem;
}

.primary-text {
    font-size: 1.6rem;
    max-width: 400px;
    color: rgba(16, 0, 7, 0.8);
    line-height: 2.4rem;
    margin: 1.5rem 0 2rem;
}

.secondary-button {
    padding: 1rem 2.5rem;
    background-color: #E5786D;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
}

.secondary-button:hover {
    background-color: #d66e62;
}
.home-primary-image-section {
    align-items: end;
    @apply w-6/12 mx-auto md:pt-10;
}
.home-image {
    @apply h-full;
}
