.home {
    width: 100vw;
    height: 100vh;
    background: #F8F2F2;
    margin: 0;
}

.home-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.home-image-section {
    @apply hidden md:w-1/2 md:block;
}

.home-image-section img {
    width: 65%;
    object-fit: cover;
    margin: 25% auto auto;
}

.home-text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @apply pt-20 mb-4 md:mb-40 md:pt-40 w-1/2;
}
.partners {
    @apply flex flex-row mt-4;
}

.button-holder {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
}

.partners img {
    width: 120px;
    border-radius: 12px;
    margin-left: 10px;
}

/* Heading styles */
.partners-heading {
    color: #100007;
    font-family: Playfair Display, serif;
    font-size: 18px;
    font-weight: 600;
    padding: 0;
    margin-left: 10px;
    margin-top: 40px;
}
.primary-heading {
    color: #100007;
    font-family: Playfair Display, serif;
    font-size: 100px;
    font-weight: 600;
    padding: 0;
    margin: 0;
    line-height: 100px;
}
.secondary-heading
{
    color: #100007;
    font-family: Playfair Display, serif;
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 600;
    margin-left: 10px;
}

.primary-p {
    color: #100007;
    font-family: Karla, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 10px;
    width: 80%;
}

.red-line {
    width: 80%;
    height: 8px; /* Thickness of the line */
    background-color: #860311;
    margin: 20px 20px 20px 10px;
}

/* make responsive for 1250 px */
@media (max-width: 1250px) {
    .home-image-section img {
        width: 90%;
    }

    .primary-heading {
        font-size: 80px;
        line-height: 80px;
    }
}

@media (max-width: 850px) {
    .home-image-section img {
        width: 90%;
    }

    .primary-heading {
        font-size: 80px;
        line-height: 80px;
    }

    .home-image-section {
        display: none;
    }
}




