nav {
    min-height: 90px;
    width: 100%;
    background: transparent;
    position: fixed;
    align-self: center;
    z-index: 1000;
}

.nav-container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    height: 100px;
}
.navbar-links-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.2s;
    font-family: Karla, sans-serif;
}

.navbar-links-container a:hover {
    color: #860311;
}

.navbar-cart-icon {
    font-size: 1.15rem;
}

.navbar-menu-container svg {
    font-size: 1rem;
    cursor: pointer;
}

.navbar-menu-container {
    font-size: 2rem;
    cursor: pointer;
    margin: 5px 10px;
}

.small-menu-container {

}

.small-menu-container * {
    margin: 5px 10px;
}

.hamburgerIcons {
    width: 40px;
    height: auto;
}

@keyframes slideInFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for the hover scale animation */
@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.navbar-link-icon {
    animation: slideInFade 0.5s ease forwards; /* Apply the slide and fade animation */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.navbar-link-icon:hover {
    animation: scaleUp 0.2s ease forwards; /* Scale up on hover */
}
