nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    margin: 0 auto;
    width: 85%;
}

.nav-logo {
    height: 2.2rem;
    transition: 0.4s;
}

.navbar-link {
    font-family: Karla, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    padding: 0 10px;
    cursor: pointer;
    transition: 0.4s;
}

.navbar-links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.primary-button {
    padding: 0.9rem 1.75rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.4s;
    margin: 0 10px;
}

.homePageNavbarBtn {
    background-color: #9697C3;
    color: white;
}

.homePageNavbarBtn:hover {
    background-color: #7678a9;
}

.aboutPageNavbarBtn {
    background-color: #FFDDE1;
    color: #6F4949;
}

.aboutPageNavbarBtn:hover {
    background-color: #FFC2C6;
}

.teamPageNavbarBtn {
    background-color: #7AA385;
    color: white;
}

.teamPageNavbarBtn:hover {
    background-color: #5E8A5F;
}

.reportPageNavbarBtn {
    background-color: #EABAAA;
    color: #6F4949;
}

.reportPageNavbarBtn:hover {
    background-color: #D8A08A;
}

.navbarDarkLinks {
    color: white;
}

.navbarLightLinks {
    color: #6F4949;
}
