.reports-card-container {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    min-height: 350px;
    align-items: center;
    box-shadow: 4px 4px 4px 6px rgba(39, 37, 37, 0.1);
    @apply w-2/3 md:w-3/12;
}

.reports-card-container h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #505050;
    margin: 1.6rem 0;
}

.reports-card-container p {
    font-size: 1.6rem;
    color: #474747;
    margin: 1.6rem 0;
    height: 14rem;
}

.reports-button {
    padding: 1rem 2.5rem;
    background-color: #B1DDF1;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
