.team-container {
    width: 100vw;
    position: relative;

}

.team-members-container {
    margin: 2rem auto;
    width: 70%;
}

.team-members-container h1 {
    font-size: 4.4rem;
    color: rgba(16, 0, 7, 0.9);
    text-align: center;
    padding: 1.6rem 0 1rem 0;
    color: #100007;
    font-family: Playfair Display, serif;
    line-height: normal;
    font-weight: 600;
}

.team-members-container p {
    font-size: 1.8rem;
    text-align: center;
    color: #860311;
    font-family: Karla, sans-serif;
    font-weight: 500;
}

.team-background-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.team-card-holder-col1 {
    grid-gap: 2rem;
    margin: 4rem auto;
    @apply flex flex-col md:grid md:grid-cols-3;
}

.team-card-holder-col2 {
    grid-gap: 2rem;
    margin: 2rem auto;
    @apply flex flex-col md:grid md:grid-cols-2;
}

.team-background-img {
    width: 60%;
    object-fit: cover;
}

