.team-card {
    width: 26rem;
    margin: auto;
    height: 100%;
}

.team-card-icon-holder {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 !important;
}

.team-name-txt {
    color: rgb(0, 0, 0) !important;
}

.team-role-txt {
    font-size: 1.6rem !important;
    padding: 0 !important;
}

.card-content {
    padding: 10px 0 0 0 !important;
    margin: 0 !important;
}

.linkedin-logo {
    color: #000000 !important;

}
