* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif;
  font-size: 62.5%;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  max-width: 1900px;
  margin: 0rem auto;
  display: block;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 62.5% !important;
  background-color: #f6f6f6;
}

html {
  scroll-behavior: smooth;
}